[user]
	name = Grégory Bataille
	email = gregory.bataille@gmail.com
[alias]
	st = status
	co = checkout
	cob = checkout -b
	commitamend = commit --amend --no-edit
	p = push
	b = branch -v
	t = tag -a
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	d = diff -w
	dt = difftool
	dc = diff --cached -w
	branch-clean = "!sh clean_remote_branches.sh"
	g = grep -W
[core]
	excludesfile = /Users/gbataille/.gitignore_global
[push]
	default = simple
[github]
	user = gbataille
[color]
	ui = true
[init]
	templatedir = ~/.git_templates
[pull]
	rebase = preserve
[rerere]
	enabled = true
[diff]
	tool = vimdiff
	indentHeuristic = true
	algorithm = patience
	colorMoved = zebra
[difftool]
	prompt = false
	tool = vimdiff
	trustExitCode = true
[merge]
	ff = false
	tool = vimdiff
[mergetool]
	tool = vimdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
	log = /usr/local/Cellar/git/2.15.0/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/Cellar/git/2.15.0/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/Cellar/git/2.15.0/share/git-core/contrib/diff-highlight/diff-highlight | less
	branch = false
[interactive]
	diffFilter = /usr/local/Cellar/git/2.15.0/share/git-core/contrib/diff-highlight/diff-highlight
[grep]
	lineNumber = true
