[submodule "dotfiles/.vim/bundle/snipmate"]
	path = dotfiles/.vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "dotfiles/.vim/bundle/project"]
	path = dotfiles/.vim/bundle/project
	url = https://github.com/shemerey/vim-project.git
[submodule "dotfiles/.vim/bundle/rails"]
	path = dotfiles/.vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dotfiles/.vim/bundle/pathogen"]
	path = dotfiles/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/.vim/bundle/tabular"]
	path = dotfiles/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotfiles/.vim/bundle/fugitive"]
	path = dotfiles/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/.vim/bundle/vim-coffee-script"]
	path = dotfiles/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dotfiles/.vim/bundle/vim-rooter"]
	path = dotfiles/.vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "dotfiles/.vim/bundle/vim-peepcode"]
	path = dotfiles/.vim/bundle/vim-peepcode
	url = https://github.com/shemerey/vim-peepopen.git
